ion-toolbar {
	--background: #f0840800 !important;
}
.logo {
	display: block;
	padding-top: 20px;
	margin: auto;
	width: 10%;
	object-fit: contain;
}
.logo-title {
	font-size: 24px;
	text-align: center;
}
.logo-container {
	padding-bottom: 5px;
}
